<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/colors.css" rel="stylesheet">
    <script src="/scripts/script.js"></script>
    <title>We &lt;3 Web | Blog</title>
</head>
<body>
    <header>

    </header>