<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

    <main>

        <section class="main__landing">
            <h1 class="main__landing--title">Welcome to</h1>
            <h1 class="main__landing--title">We &lt;3 Web</h1>
            <p class="main__landing--intro">This is where I, Eef, keep all the records of all the talks and news I attend regarding to Front-End, Design and the Web.</p>
        </section>

        <ul class="main__blogpost--container">
            <li class="main__blogpost">
                <img src="/assets/images/digital-gardening.png" alt="Green garden">
                <section class="main__blogpost--text">
                    <h2 class="main__blogpost--title">Digital Gardening</h2>
                    <p class="main__blogpost--info">15 maart 2024, Justus Sturkenboom</p>
                    <p class="main__blogpost--description">Vandaag hebben wij een talk gehad over Digital Gardening, IndieWeb en het web van vroeger.</p>
                    <a class="main__blogpost--link">Lees meer ➜</a>
                </section>
                <div class="main__blogpost--shadow"></div>
            </li>
            <li class="main__blogpost">
                <img src="/assets/images/toegankelijkheid-fenna.png" alt="Green garden">
                <section class="main__blogpost--text">
                    <h2 class="main__blogpost--title">Toegankelijkheid</h2>
                    <p class="main__blogpost--info">19 januari 2024, Fenna de Wilde</p>
                    <p class="main__blogpost--description">Vandaag kwam Fenna de Wilde, oudstudent CMD, vertellen over haar gemaakte werk en toegankelijkheid.</p>
                    <a class="main__blogpost--link">Lees meer ➜</a>
                </section>
                <div class="main__blogpost--shadow"></div>
            </li>
        </ul>

    </main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>