---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const blogPosts = await Astro.glob("./blog/*.md");
---

<Layout>
  <section class="main__landing">
    <section class="main__landing--text">
      <h1 class="main__landing--title">Welcome to</h1>
      <h1 class="main__landing--title">We &lt;3 Web</h1>
      <p class="main__landing--intro">
        This is where I, Eef, keep all the records of all the talks and news I
        attend regarding to Front-End, Design and the Web.
      </p>
      <a href="#blogposts"><img class="main__landing--arrow" src="/assets/images/arrow.gif" alt="Arrow going down"></a>
    </section>
    <img class="main__landing--letters" src="/assets/images/letters.png">
  </section>

  <ul id="blogposts" class="main__blogpost--container">
    {blogPosts.sort((a, b) => a.frontmatter.id - b.frontmatter.id).map((post) => <BlogPost post={post} />)}
  </ul>
</Layout>
