---
import '../styles/styles.css'
import '../styles/colors.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We &lt;3 Web | Blog</title>
  </head>
  <body>
    <header></header>

    <main>
        <slot />
    </main>

    <footer></footer>
  </body>
</html>
